<link rel="stylesheet" type="text/css" href="../css/style.css" />
<script type="text/javascript" src="../js/modernizr-1.5.min.js"></script>


<div class="recuadro">
<a href="/posts/new"> Crear nuevo Post </a>
</div>
<br>

