<h2>Administración y configuración</h2>

<p>Carlos Alonso González de las Cuevas</p>
<p>Jorge Aguirre León</p>

<div id ="search">
	<form method="post" action="/admin/posts">
		<input class="btn btn-info" name="commit" type="submit" value="Posts Anónimos" />
	</form>
</div>
