
<h2>Login</h2>

<form method='POST' action='/login'>

<div class="form_settings">

<div class="form_settings">
  <input type='hidden' name='redir' value='<%= redir %>'>

  <div class="field">
    <h3 >Login</h3><br />
    <input type="text" id="login" name="login" size="30" />
  </div>

  <div class="field">
    <h3 >Password</h3><br />
    <input type="password" id="password" name="password" size="30" />
  </div>

  
  <p><input name="commit" class="submit" type="submit" value="Login" /> </p>

  </div>
</div>
</form>