<div class="control-group <%- locals.validate_errors && validate_errors.body ? "invalid_field" : "field" %>">
	<label class="control-label" for="comment_body">Contenido</label>
	<br />
	<div class="controls">
		<textarea id="comment_body" name="comment[body]" rows="10" cols="80"><%= comment.body %></textarea>
	</div>
</div>

<button type="submit" class="btn btn-success">Guardar</button>
<button type="reset" class="btn">Borrar datos</button>
