<div class="control-group <%- locals.validate_errors && validate_errors.body ? "error" : "" %>">
	<label class="control-label" for="comment_body">Contenido</label>
	<div class="controls">
		<textarea id="comment_body" name="comment[body]" rows="10" 
			class="input-xxlarge" placeholder="<%= comment.body %>"></textarea>
	</div>
</div>

<button type="submit" class="btn btn-success"><i class="icon-lock icon-white"></i> Guardar</button>
<button type="reset" class="btn btn-primary"><i class="icon-file icon-white"></i> Borrar contenido</button>

