<link rel="stylesheet" type="text/css" href="../../../../css/style.css" />
<script type="text/javascript" src="../../../../js/modernizr-1.5.min.js"></script>

<h2>Editar Comentario</h2>

<form method='post' action='/posts/<%= post.id %>/comments/<%= comment.id %>'>
 <div class="form_settings">
  <input type='hidden' name='_method' value='put'>

  <%- include _form.ejs %>
 </div>
</form>


<A href="/posts/<%= post.id %>"> Cancelar </a>