<h2>Nuevo Comentario</h2>

<form method='post' action='/posts/<%= post.id %>/comments'>
	<div class="form_settings">
  <%- include _form.ejs %>
  </div>
</form>
<br/>
 <!-- <a href="/posts/<%= post.id %>"> Cancelar </a> -->
