<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
 	<h2>
 	Bienvenido a nuestro blog
	</h2>
	<p>
	Dario Merino Perez
	</p>
	<p>
  Miguel Cristian Greciano Raiskila
	</p>
	<video id="video"
             src="images/videoIntro.mov"
             controls
             preload>
  </body>
</html>