      <div class="hero-unit">
        <p><video style="max-width: 500px;"  src="/img/presentation.mp4" type="video/mp4" controls="controls" poster="/images/apple_core.png"></video></p>
      </div>

      <div class="row-fluid">
        <div class="span8"  style="float: left; margin-left: 50px;">
          <h3>Lola Priego</h3>
          <p><img src="/img/lola.jpg" style="max-width: 300px;" class="img-rounded"></p>
          <p><a href="https://twitter.com/Lolitapriego">@lolitapriego</a></p>
        </div>

        <div class="span8"   style="float: left; margin-left: 50px;">
          <h3>Paula Montojo</h3>
          <p><img src="/img/pau.jpg" class="img-rounded"></p>
          <p><a href="https://twitter.com/PauMontojo">@PauMontojo</a></p>
        </div>
      </div>



      <hr>
