<!DOCTYPE html>
<html>
  <head>
    <title>Autores</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<p>Autores:</p>
	<p>Ignacio Shyri Villar Di Gionantonio</p>
	<p>Jaime Martín Soler</p>
	<p>Poner aquí vídeo</p>
	<video width="750" controls id="video_presentacion">
			  <source src="videos/presentacion.mp4" type="video/mp4">
			Tu explorador no es compatible con HTML5.
			</video>
  </body>
</html>