<h2>Autores</h2>

<div class="row-fluid">
	<div class="span12 pagination-centered">
		<p>Carlos Alonso González de las Cuevas</p>
		<p>Jorge Aguirre León</p>

		<video id="video" controls>
			<source src="media/video.ogv" type="video/ogg">
			Tu navegador no permite ver este video
		</video>
	</div>
</div>
