<h2>Autores</h2>

<p>Carlos Alonso González de las Cuevas</p>
<p>Jorge Aguirre León</p>

<video id="video" controls>
	<source src="/public/media/video.ogv" type="video/ogg">
	Tu navegador no permite ver este video
</video>

<p>
