<h2>
Bienvenido al mejor blog de viajes.
</h2>


<p>
Aquí podrás encontrar la mejor información sobre cómo y donde debes ir de viaje.
</p>

<img src='images/viajero.jpg' alt='layers'/>


<video controls preload="auto">
		<source src="/videos/presentacion.mp4" type="video/mp4">
		<source src="/videos/presentacion.ogv" type="video/ogv">
		<source src="/videos/presentacion.webm" type="video/webm">
		</video>	
