<h2>
Bienvenido al Blog del Humor
</h2>


<p>
El humor existe para recordarnos que,
<br />
por muy alto que sea el trono en que uno se sienta, 
<br />
todo el mundo utiliza su culo para sentarse.
</p>

<img src='images/layers.png' alt='layers'/>

