<h3 id="h3">Autores:</h3>
<h4 id="h2">Alberto Fernández Pena</h4>
<h4 id="h2">Jose Manuel Sevilla Ramal</h4>

<section id= "seccvideo">
	<div class="titulo">Vídeo de presentación</div>
        <video id="video"
               height="288px"
               width="512px"
               controls 
               preload>
        <source src="video/presentacion.ogg" type="video/ogg">
    </video>
</section>