 <img style="float: left; vertical-align: middle; margin: 0 10px 0 0;" src="images/home.png" alt="home" /><h1 style="margin: 15px 0 0 0;">Bienvenido a nuestro blog</h1>
 		<br>
        <p>Este blog es el proyecto final de la asignatura <strong>Software de comunicaciones (SWCM) </strong> del plan 94 de la <strong>Universidad Politécnica de Madrid (UPM).</strong></p>
        <p>Los autores de este trabajo han sido <strong>Roberto Jiménez Sánchez</strong> y <strong>Rubén Díaz Vega</strong>.</p>
        <p>En el siguiente video se explirán los objetivos de la práctica relizada en el curso académico 2012-2013: </p>
<div align="center">
	<video style="float:center;" width="320" height="240" controls>
	  <source src="videos/movie.mp4" type="video/mp4">
	  <source src="videos/movie.ogg" type="video/ogg">
	  Your browser does not support the video tag.
	</video>
</div>