		<div id="content">
			<div class="post">
				<h2 class="title"><a href="/">Software de Comunicaciones</a></h2>
			
				<div style="clear: both;">&nbsp;</div>
				<div class="entry">
					<p>Blog para SWCM. Buena asignatura, mejores profesores</p>
					<div class="entry">
						<video
             				  	  width="600" 
              				  	  height="480"
              				  	  controls 
              				  	  preload>
              				  	<source src="/media/video.mp4" type="video/mp4">
            				</video>
				</div>
				</div>
			</div>
			<div style="clear: both;">&nbsp;</div>
		</div>
<!-- end #content -->
