<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
 	<h2>
 	Bienvenido a nuestro blog
	</h2>
	<p>
	Esperamos no aburriros
	</p>
	<img src='images/review.jpg' alt='review'/>
  </body>
</html>