
<div class="row-fluid">
	<div class="span12 pagination-centered">
		<h2>Bienvenido al Blog del Humor</h2>
	</div>
</div>

<div class="row-fluid">
	<div class="span4 offset4 pagination-centered cita">
		<p class="quote">
		El humor existe para recordarnos que,
		<br />
		por muy alto que sea el trono en que uno se sienta, 
		<br />
		todo el mundo utiliza su culo para sentarse.
		</p>
	</div>
</div>
<br />
<div class="row-fluid">
	<div class="span12 pagination-centered">
		<img src='images/layers.png' alt='layers'/>
	</div>
</div>

