<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<form method='get' action='/posts/search' id="search">
	Busqueda de Posts: 
<input type="text" name="search"/>
</form>

<title>BLOG_SWCM Ignacio Bermejo & Ignacio Suarez</title>
</head>
<body>
<h1>Blog en Express  <br>  Diseñado por Ignacio Bermejo Galante & Ignacio Suarez Navas</h1>
<nav>
<a href="/">Inicio</a>
<a href="/Posts">Posts</a>
</nav>
</header>
<section>
<hr />
<%- body %>
<hr />
</section>
<footer>
<p>
Curso Swcm 2012-2013
</p>  Ya hemos recibido <%- visitas %> visitas a nuestro Blog.
</footer>
</body>
</html>

