<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>SWCM</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Open+Sans:400,300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="/">SWCM</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="/">Inicio</a></li>
					<li><a href="/Posts">Posts</a></li>
					<li><a href="/about.html">Sobre nosotros</a></li>
				</ul>
			</div>
		</div>
		<div id="banner">
			<div class="content"><img src="/images/img02.jpg" width="1000" height="300" alt="" /></div>
		</div>
	</div>
	<!-- end #header -->
    <div id="page">

    <%- body %>
    
    <div id="sidebar">
			<ul>
				<li>
					<h2>Búsqueda</h2>
					<ul>
    						<form method='get' action='/posts/search'>
	          					
							<li>
								<input type='text' name='search' value='Buscar en los posts'>
								<a href="" onclick="submit();return false">Buscar</a>
							</li>
						</form>
					</ul>				
				</li>
				<li>
					<h2>Contador de visitas</h2>
					<ul>
    						<li>Número de visitas: <%=visitas %></li>
					</ul>				
				</li>
				<li>
					<h2>Asignatura</h2>
					<ul>
    						<li><a target="_blank" href="http://moodle.dit.upm.es">Moodle</a></li>
					</ul>				
				</li>
				<li>
					<h2>Documentación</h2>
					<ul>
						<li><a target="_blank" href="http://twitter.github.com/bootstrap">Bootstrap</a></li>
             					<li><a target="_blank" href="http://cloudinary.com/invites/lpov9zyyucivvxsnalc5/ddykgjrywsdpvvrb7ahc">Cloudinary</a></li>
              					<li><a target="_blank" href="http://expressjs.com">Express</a></li>
              					<li><a target="_blank" href="http://nodejs.org">Nodejs</a></li>
              					<li><a target="_blank" href="http://www.heroku.com">Heroku</a></li>
              					<li><a target="_blank" href="http://sequelizejs.com">Sequelize</a></li>
					</ul>
				</li>
				<li>
					<h2>Profesores</h2>
					<ul>
						<li><a target="_blank" href="http://www.dit.upm.es/jmdela">José María del Álamo</a></li>
              					<li><a target="_blank" href="http://www.dit.upm.es/costilla">Carmen Costilla</a></li>
              					<li><a target="_blank" href="http://www.dit.upm.es/santiago">Santiago Pavón</a></li>
              					<li><a target="_blank" href="http://www.dit.upm.es/quemada">Juan Quemada</a></li>
              					<li><a target="_blank" href="http://www.dit.upm.es/jsr">Joaquín Salvachúa</a></li>
              					<li><a target="_blank" href="http://www.dit.upm.es/yelmogar">Juan Carlos Yelmo</a></li>
					</ul>
				</li>
				<li>
					<h2>General</h2>
					<ul>
						<li><a target="_blank" href="http://www.dit.upm.es">DIT</a></li>
              					<li><a target="_blank" href="http://www.etsit.upm.es">ETSIT</a></li>
              					<li><a target="_blank" href="http://www.upm.es">UPM</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page --> 
</div>
<div id="footer">
	<p>Unai Arríen Oroz y Gonzalo Gimeno Torres. SWCM</p>
</div>
<!-- end #footer -->
  </body>
</html>
