<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>MuNET</title>
  </head>
  <body>
	<header class="mainHeader">
		<a class="header_link" href="/">Home</a>
		<a class="header_link" href="/posts">Posts</a>
		<a class="header_link" href="/users">Usuarios</a>
		<form class="search_div" action="/posts/search" method="post">
			<input id="search_input" type="text" name="query" />
			<input id="search_button" type="submit" value="" />
		</form>
	</header>
	<div class="content">
		<%- body %>
	</div>
    	<footer class="mainFooter">
		<hr />
		<p>
		Javier Andi&oacute;n & Jorge Bell&oacute;n <br>
    	 	 SWCM Curso 2012 - 2013
    		</p>
	</footer>
  </body>
</html>
