.boton{
	margin: 20px;
	padding: 5px 20px 5px 20px;
	text-decoration: none;
	border: solid 1px black;
	background-color:rgba(255,255,255,1);
	border-radius:10px;
}
footer{
	margin:15px;
}

footer a:hover{
	color:blue;
}