body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}

article {
	border: 2px solid #FFFFFF;
	padding: 7px;
	margin: 20px;
	background-color: #E5F5FF;
}

#logininfo {
	float: right;
	clear: both;
}

.post {
	padding: 10px 20px 20px 20px;
	margin-bottom: 30px;
	background-color: #F8F8F8;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}

.post h1 {
	margin-bottom: 0;
	font-size: 40px;
	line-height: 1;
	letter-spacing: -1px;
	color: inherit;
}

.post p {
	font-size: 18px;
	font-weight: 200;
	line-height: 27px;
	color: inherit;
}

.comment {
	padding: 10px 20px 20px 20px;
	margin-bottom: 30px;
	background-color: #F8F8F8;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.comment h1 {
	margin-bottom: 0;
	font-size: 60px;
	line-height: 1;
	letter-spacing: -1px;
	color: inherit;
}

.comment p {
	font-size: 18px;
	font-weight: 200;
	line-height: 27px;
	color: inherit;
}
	

.invalid_field {
	padding: 2px;
	background-color: red;
	display: table;
}
.field {
	width: 100%;
}

#search {
	margin-right: 15px;
}

#icono-buscar {
	vertical-align: middle;
}
