body {
padding: 20px;
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
background-color: #b0e0e6;
}
a {
color: #00B7FF;
}
article {
border: 2px solid #ffffff;
padding: 7px;
margin: 20px;
background-color: #e5f5ff;
}
#search {
float: right;
}