<h1> Editar Usuario </h1>
<form method="post" action="/users/<%= user.id %>" class="form-horizontal">
	<input type="hidden" name="_method" value="put">
	<%- include _form.ejs %>
</form>
<a class="btn btn-danger" href="/users"><i class="icon-remove icon-white"></i> Salir</a>
