<link rel="stylesheet" type="text/css" href="../css/style.css" />
<script type="text/javascript" src="../js/modernizr-1.5.min.js"></script>

<h1>Nuevo Usuario</h1>

<form method='post' action='/users'>

  <%- include _form.ejs %>

</form>

<A href="/users"> Volver </a>