<h1>Nuevo Usuario</h1>
<form method="post" action="/users" class="form-horizontal">
	<%- include _form.ejs %>
</form>
<a class="btn btn-danger" href="/users"><i class="icon-remove icon-white"></i> Salir</a>
