<h2> Usuario </h2>

<p>
	<b>Login:</b>
	<%= user.login %>
</p>

<p>
	<b>Nombre:</b>
	<%= user.name %>
</p>

<p>
	<b>E-mail:</b>
	<%= user.email %>
</p>

<% if (session.user && session.user.id == user.id) { %>
	<a href="/users/<%= user.id %>/edit">Editar</a>
<% } %>

<a class="btn btn-warning" href="/users"><i class="icon-arrow-left icon-white"></i> Volver</a>
