<div class='control-group <%- locals.validate_errors && validate_errors.title ? "invalid_field" : "field" %>'>
	<label class="control-label" for="post_title">Título:</label>
	<div class="controls">
		<input type="text" id="post_title" name="post[title]" class="input-xlarge"
		size="80" value="<%= post.title %>" />
	</div>
</div>

<div class='control-group <%- locals.validate_errors && validate_errors.body 
		? "invalid_field" : "field" %>'>
	<label class="control-label" for="post_title">Contenido:</label>
	<div class="controls">
		<textarea id="post_body" name="post[body]" cols="80" rows="20"><%= post.body %></textarea>
	</div>
</div>

<button type="submit" class="btn btn-success">Guardar</button>
<button type="reset" class="btn">Borrar</button>
