<div class='<%- locals.validate_errors && validate_errors.title 
		? "invalid_field" : "field" %>'>
	<label for="post_title">Titulo</label>
	<br />
	<input type="text" id="post_title" name="post[title]"
		size="80" placeholder="<%= post.title %>" />
</div>
<div class='<%- locals.validate_errors && validate_errors.body 
		? "invalid_field" : "field" %>'>
	<label for="post_title">Mensaje</label>
	<br />
	<textarea id="post_body" name="post[body]" cols="30"
	size="80" placeholder="<%= post.body %>"></textarea>
</div>
<div class="actions">
	<input name="commit" type="submit" value="Guardar" />
</div>
