<div class='<%- locals.validate_errors && validate_errors.title ? "invalid_field"
: "field" %>'>
	<h3 >Titulo</h3><br />
	<input type="text" id="post_title" name="post[title]"
		size='80' value='<%= post.title%>' />

</div>

<div class='<%- locals.validate_errors && validate_errors.title ? "invalid_field"
: "field" %>'>

	<h3 >Contenido</h3><br />

 	<textarea rows="15" cols="80" id="post_body" name="post[body]"><%= post.body %></textarea>

  	<p id="salvar_button" style="padding-top: 15px"><input class="submit" type="submit" name="name" value="Guardar" /></p>

 </div>