<h1>Editar Post</h1>

<<<<<<< HEAD
<form method='post' action='/posts/<%= post.id %>'>

  <input type='hidden' name='_method' value='put'>

  <%- include _form.ejs %> <!-- En las transparencias aparece sin el "-" -->
=======
<form method='post' action='/posts/<%= post.id %>' class='form-horizontal'>

  <input type='hidden' name='_method' value='put'>

  <%- include _form.ejs %>
>>>>>>> 499058b2bc58b318034727a823a52e888f6690b8

</form>


<a href="/posts"> Volver </a>
