<h1>Editar Post</h1>
<form method="post" action="/posts/<%= post.id %>" class="form-horizontal">
	<input type="hidden" name="_method" value="put">
	<% include _change.ejs %>
</form>
<a class="btn btn-danger" href="/posts"><i class="icon-remove icon-white"></i> Salir</a>
