<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">

   <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
   <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
   <title>SWCM JSD</title>
</head>

<body>
   <header>
    <script type="text/javascript">
$(function(){   
//evento 1
  $('#searchBut').on('click',function(){
        var busc = $('#search').val();
    var loc = window.location;
    //alert(loc);
    if(loc=='http://localhost:5000/'){

        //window.open('http://localhost:5000/posts/search/'+busc);
        window.location.href="http://localhost:5000/posts/search/"+busc;
    }else{
        //window.open('http://floating-everglades-2068.herokuapp.com/posts/search/'+busc);
        window.location.href = "http://floating-everglades-2068.herokuapp.com/posts/search/"+busc;
      }
      return false;
    });

});
</script>

   <h1> Software de Comunicaciones</h1>
   <div id="buscador">
      <form>
        <input type="text" id="search">
        <input id="searchBut" type="submit" value="Search" class="button">
      </form>
    </div>
      <nav>
         <a href="/">Home</a>
         <a href="/info">Info</a>
         <a href="/Posts">Posts</a>
      </nav>
   </header>
   <section>
   <hr />

   <%- body %>
   
   <hr />
   </section>

   <footer>
    <p> Universidad Politécnica de Madrid. Curso 2012-2013. </p>
  </footer>
</body>
</html>