<link rel="stylesheet" type="text/css" href="../../css/style.css" />
   <script type="text/javascript" src="../../js/modernizr-1.5.min.js"></script>

<h2>Nuevo Post</h2>

<form method='post' action='/posts' class='form-horizontal'>

 <div class="form_settings">

  <%- include _form.ejs %>

 </div>
</form>

<a href="/posts"> Volver </a>

