<h1>Nuevo Post</h1>
<form method="post" action="/posts" class="form-horizontal">
	<% include _form.ejs %>
</form>
<a class="btn btn-danger" href="/posts"><i class="icon-remove icon-white"></i>Salir</a>
