<h2>Post</h2>
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#"><%= post.title %></a></h2>
				<p class="meta"><span class="date"><%= post.updatedAt.toLocaleDateString() %></span><span class="posted">Creado por <a href="#">Unai</a></span></p>
				<div style="clear: both;">&nbsp;</div>
				<div class="entry">					
					<p><%- escapeText(post.body) %></p>
					<p class="links"><a href="/posts" class="more">Atrás</a><a href="/posts/<%= post.id %>/edit" title="b0x" class="comments">Editar</a></p>
				</div>
			</div>
			<div style="clear: both;">&nbsp;</div>
		</div>
<!-- end #content -->
