<link rel="stylesheet" type="text/css" href="../css/style.css" />
<script type="text/javascript" src="../js/modernizr-1.5.min.js"></script>

<p>
<h2><b><%- post.title %></b></h2>
by
<em>El autor</em>
</p>
<p>
<%- post.updatedAt.toLocaleDateString() %>
</p>

<p align="justify"><%- escapeText(post.body) %></p>
<div class="post_actions">
<a href="/posts/<%= post.id %>/edit"> Edit </a>
<a href="/posts"> Back </a>

</div>