<h2>Post</h2>
<hr/>
<p>
  <b><%= post.title %></b>
  <br />
  by 
  <em>El autor</em>
</p>

<p>
  <%= post.updatedAt.toLocaleDateString() %>
</p>

<p><%- escapeText(post.body) %></p>


<a class="boton" href="/posts/<%= post.id %>/edit"> Editar </a>


<a class="boton" href="/posts"> Volver  </a>

<hr/>
