<p>
	<b><%= post.title %></b>
	<br />
	por <em>El autor</em>
</p>
<p><%= post.updatedAt.toLocaleDateString() %></p>
<p><%- escapeText(post.body) %></p>
<% if (session.usr && session.user.id == post.authorId) { %>
	<a href="/posts/<%= post.id %>/edit">Editar</a>
<% } %>
<a href="/posts">Volver</a>
