<h1>Nuevo Adjunto</h1>
<form method="post" action="/posts/<%= post.id %>/attachments" enctype="multipart/form-data" class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="attachment">Seleccione imágen (máximo 500KB)</label>
		<div class="controls">
			<input type="file" id="attachment" name="adjunto" />
		</div>
	</div>
	<div class="controls">
		
                <button class='btn btn-success btn-mini' href='#' onclick="this.parentNode.submit()">
                  <i class='icon-upload icon-white'></i> Subir
                </button>
	</div>
</form>
<a class="btn btn-danger" href="/posts/<%= post.id %>"><i class="icon-cancel icon-white"></i> Cancelar</a>
